.post {
  border: 1px solid rgba(0,0,0,0.09);
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  margin: 10px;
  padding: 10px;
  background:whitesmoke;
}

.post-read {
  margin: 10px;
}

.post-tag{
  border-radius: 3px;
  padding: 5px;
  margin: 2px;
  background-color: orange;
  text-decoration: none;
}

.post-tag:hover {
  background-color: rgb(238, 35, 35);
  color: white;
}

.btn {
  display: inline-block;
  padding: 4px;
  background: blueviolet;
  color: white;
  cursor: pointer;
  user-select: none;
}

.btn-round {
  height:30px;
  width:30px;
  border-radius: 50%;
  font-size: 1.8em;
  text-align: center;
  line-height: 22px;
}

.btn:hover {
  filter:brightness(110%);
}