.post {
  border: 1px solid coral;
  margin: 10px;
  padding: 10px;
  background:whitesmoke;
}

.post-read {
  margin: 10px;
}

.post-tag{
  border-radius: 3px;
  padding: 5px;
  margin: 2px;
  background-color: orange;
  text-decoration: none;
}

.post-tag:hover {
  background-color: rgb(238, 35, 35);
  color: white;
}