.app-header {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 5px;
}

.app-header a {
  color: #61dafb;
}

.content-wrapper{
  display: flex;
}

.categories {
  display: flex;
  flex-direction: column;
  flex: 20%;
}

.content-area {
  flex:80%;
}
